@page
@model dyreinternat___web.Pages.AnimalsGridModel

<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <title>Dyreoversigt - Dyreinternat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Animal.css" />
</head>
<body>
    <div class="container">
        <form method="get">
            <input type="text" name="SearchTerm" value="@Model.SearchTerm" placeholder="Søg efter navn..." />
            <button type="submit">Søg</button>
            <select name="FilterType">
         
                <option value="">-- Alle typer --</option>
                @if (Model.FilterType == "Hund")
                {
                    <option value="Hund" selected="selected">Hund</option>
                }
                else
                {
                    <option value="Hund">Hund</option>
                }

                @if (Model.FilterType == "Kat")
                {
                    <option value="Kat" selected="selected">Kat</option>
                }
                else
                {
                    <option value="Kat">Kat</option>
                }
            </select>
            <button type="submit">Filtrer</button>



           
        </form>

        @foreach (var animal in Model.Animal)
        {
            <div class="card">
                <div class="card__bg">
                    <img src="~/img/@animal.ImagePath" alt="Billede af @animal.Name" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">@animal.Name</h5>
                        <p class="card-text">
                            Art: @animal.Species<br />
                        Race: @animal.Race<br />
                        <span>Størrelse: @animal.Size Kg<span/><br />
                            Køn: @animal.Gender
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>

