
@page
@model dyreinternat___web.Pages.BookModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input type="number" asp-for="NewBooking.AnimalID" placeholder="ID" />
    <input type="text" asp-for="NewBooking.Name" placeholder="Navn på dyr" />
    <input type="text" asp-for="NewBooking.Description" placeholder="Beskrivelse" />
    <input type="text" asp-for="NewBooking.User" placeholder="Bruger" />
    <input type="time" asp-for="NewBooking.StartTime" placeholder="00:00" />
    <input type="time" asp-for="NewBooking.EndTime" placeholder="00:00" />
    <input type="submit" value="Gem">
</form>
@foreach (var booking in Model.Bookings)
{
    <div class="card">
        <div class="card__bg">
            <div class="card-body">
                <h5 class="card-title">@booking.Name</h5>
                <p class="card-text">
                    Beskrivelse af booking: @booking.Description<br/>
                    Bruger: @booking.User<br />
                    Start: @booking.StartTime<br />
                    Slut: @booking.EndTime<br />
                    <form method="post" asp-page-handler="Delete">
                        <input type="hidden" name="animalID" value="@booking.AnimalID" />
                        <button type="submit">Slet</button>
                    </form>
                </p>
            </div>
        </div>
    </div>
}